@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  font-family: 'Josefin Sans', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 1s;
  transition: 1s;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #161722;
  height: 100vh;
}

body .header {
  background-image: url(../images/bg-mobile-dark.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 25%;
  position: fixed;
  top: 0;
  padding: 15% 7% 0 7%;
}

body .header .header__title {
  color: #fafafa;
  font-weight: 700;
  font-size: 1.6em;
  letter-spacing: 7px;
}

body .main {
  width: 85%;
  height: 70%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .main div, body .main .todos {
  width: 100%;
  border-radius: 5px;
}

body .main div, body .main .todos__added {
  height: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 3% 4%;
  background-color: #25273c;
}

body .main .new-todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .new-todo .new-todo__input {
  width: 100%;
  height: 20px;
  margin-left: 3%;
  background-color: #25273c;
  border: none;
  color: #d2d3db;
}

body .main .new-todo .new-todo__input:focus {
  outline: none;
}

body .main .todos-added__icon-select, body .main .icon-select {
  height: 20px;
  width: 23px;
  -webkit-appearance: none;
  border: 1px solid #777a92;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

body .main .todos-added__icon-select:checked {
  background-image: url(../images/icon-check.svg), -webkit-gradient(linear, left top, left bottom, from(#57ddff), to(#c058f3));
  background-image: url(../images/icon-check.svg), linear-gradient(#57ddff, #c058f3);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

body .main .todos {
  max-height: 100%;
  margin-top: 5%;
  background-color: #25273c;
  border-radius: 5px 5px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .main .todos .todos__added {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #777a92;
  color: #fafafa;
  font-weight: 400;
  padding-top: 6%;
  padding-bottom: 6%;
}

body .main .todos .todos__added .todos-added__icon-select {
  margin-right: 3%;
}

body .main .todos .todos__added .todos-added__text {
  width: 100%;
}

body .main .status {
  font-weight: 400;
  font-size: .75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0 0 5px 5px;
}

body .main .status .status__clear-todos, body .main .status .status__items-left {
  background-color: #25273c;
  border: none;
  color: #777a92;
}

body .main .filter {
  color: #777a92;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  font-weight: 700;
  margin-top: 5%;
}

body .main .filter--selected {
  color: #3a7bfd;
  -webkit-transition: 0.30s;
  transition: 0.30s;
}

body .footer {
  color: #777a92;
}

.body--light {
  background-color: #e4e5f1;
}

.body--light .header {
  background-image: url(../images/bg-mobile-light.jpg);
}

.body--light .header .header__title {
  color: #fafafa;
}

.body--light .header .header__theme-change {
  src: './images/icon-moon.svg';
}

.body--light .main div, .body--light .main .todos__added {
  background-color: #fafafa;
}

.body--light .main .todos-added__icon-select {
  border: 1px solid #d2d3db;
}

.body--light .main .new-todo .new-todo__input {
  background-color: #fafafa;
  color: #393a4c;
}

.body--light .main .todos {
  background-color: #fafafa;
}

.body--light .main .todos .todos__added {
  border-bottom: 1px solid #d2d3db;
  color: #393a4c;
  border-bottom: 1px solid #d2d3db;
}

.body--light .main .status {
  color: #9394a5;
}

.body--light .main .filter {
  color: #9394a5;
}

.body--light .footer {
  color: #9394a5;
}

@media screen and (min-width: 462px) {
  body .header {
    padding: 3% 20% 0 20%;
  }
  body .main {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  body .header {
    padding: 3% 25% 0 25%;
  }
  body .main {
    width: 50%;
  }
  body .main .todos .todos__added {
    padding-top: 4%;
    padding-bottom: 4%;
  }
}

@media screen and (min-width: 1280px) {
  body .header {
    padding: 3% 30% 0 30%;
  }
  body .main {
    width: 40%;
  }
  body .main .todos .todos__added {
    padding-top: 3%;
    padding-bottom: 3%;
  }
}
/*# sourceMappingURL=style.css.map */